<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Harmony</title>
    <link href="view/app.css" type="text/css" rel="stylesheet" />

    <script src="../Libs/d3.js"></script>
    <script src="../code/app.js"></script>
    <script src="../code/dragDrop.js"></script>
    <script src="../code/dragDropTable.js"></script>
    <script src="../code/widgetTableQuery.js"></script>
    <script src="../code/widgetTableNodes.js"></script>
    <script src="../code/widgetTableRelations.js"></script>
    <script src="../code/widgetDetails.js"></script>
    <script src="../code/widgetNode.js"></script>
    <script src="../code/domFunctions.js"></script>
    <script src="../code/MetaData.js"></script>
    <script src="../code/regressionTesting.js"></script>
    <script src="../code/widgetRelations.js"></script>
    <script src="../code/widgetLogin.js"></script>
    <script src="../code/checkEmpty.js"></script>
    <script src="../code/widgetView.js"></script>
    <script src="../code/widgetSVG.js"></script>
    <script src="../code/widgetCalendar.js"></script>
    <script src="../code/dataBrowser.js"></script>
    <script src="../code/d3Functions.js"></script>
    <script src="../code/mindmapKeypress.js"></script>
    <script src="../code/mindmapClick.js"></script>
  </head>

  <body onresize = "app.resize()">
    <div id="loginDiv"></div>
    <div id="regressionHeader"></div>
    <div id="debugHeader"></div>
    <div id="tableHeader">
      <div id="buttonsDiv" class="widget">
        <div class="widgetHeader">
          <span class="freezable">
            <input type="button" value="__" idr="expandCollapseButton" onclick="app.widgetCollapse(this)">
            <input type="button" value="?" idr="helpButton" onclick="app.showHelp('Button Header', this)">
            <b>Node Search Buttons</b>
          </span>
          <input type="button" class="hidden" idr="cancelButton" value="Cancel" onclick="app.stopProgress(this)">
        </div>
        <div class="widgetBody">
          <div id="buttons"></div>
          <div id="adminButtons"></div>
          <table>
            <tbody>
              <tr id="dropNodes" class = "dropNodes">
                <td>Required Links:</td>
                <td id="dropNode0"
                ondragover = "event.preventDefault()"
                ondrop = "app.dropLink(this, event)"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div id="workSpace">
      <div id="widgets"> </div>
      <div id="log" hidden="true"></div>
      <hr>
    </div>
  </body>
</html>

<script type="text/javascript">
  app = new app();  // only global variable
  app.buildApp();
</script>
