<div class="widgetHeader">
  <span class = "freezable">
    <div idr="requestDetails" class="hidden"></div>
    <input type="button" value="__" idr="expandCollapseButton" onclick="app.widgetCollapse(this)">
    <input type="button" value="?" idr="helpButton" onclick="app.showHelp('Harmony, Active Dev', this, 'topic')">
    Last action: <span idr="requestName">None</span><input type="button" class="hidden" value="+" idr="showRequestDetails" onclick="app.toggleRequestDetails(this)"><br>
    <span id="userInfo">Not Logged In</span> <span id="sessionInfo"></span>
  </span>
  <input type="button" class="hidden" idr="cancelButton" value="Cancel" onclick="app.stopProgress(this)">
</div>
<div class="widgetBody freezable">
<!--  
  <div class="statusBar">
    <input type="button" id="clearRequests2" value="Clear" onclick="app.REST.clearRequests()">
    <p id="available2">Server Requests</p>
    <ul style="list-style-type:none" id="ongoing2" hidden></ul>
  </div>
-->

  <div class="statusBar">
    <input type="button" id="clearRequests" value="Clear" onclick="app.clearRequests()">
    <p id="available">Server Requests</p>
    <ul style="list-style-type:none" id="ongoing" hidden></ul>
  </div>

  <p>Username: <input id="userName" onblur="app.regression.logText(this)">
    Password: <input type="password" id="password" onblur="app.regression.logText(this)"
                     onkeydown="app.widget('loginOnEnter', this, event)">
  </p>
  <input id="loginButton" type="button" value="Log In" onclick="app.widget('createSession', this)">
  <input id="changeProfileButton" type="button" value="My Profile" onclick="app.widget('changeProfile', this)" hidden="true">

  <div hidden="true" class="popup" id="profilePopup">
    <div class="popupHeader" idr="popupHeader"></div>
    <div>
      <p>Name: <input idr="name" onblur="app.widget('checkUserName', this)"></p>
      <p>Password: <input type="password" idr="password" onblur="app.widget('checkPassword', this)"></p>
      <p><input type="button" value="OK" onclick = "app.widget('profilePopupOK', this)">
      <input type="button" value="Cancel" onclick="app.widget('profilePopupCancel', this)"></p>
    </div>
  </div>

  <input id="debugButton" type="button" value="Show Debug Menu" onclick="app.showDebug(this)" hidden="true">
  <input id="regressionButton" type="button" value="Show Regression Menu" onclick="app.showRegression(this)" hidden="true">
  <input id="dataBrowserButton" type="button" value="New Data Browser" onclick="new dataBrowser()" hidden="true">

  <table>
    <tbody>
      <tr id="faveNodes" idr="faveNodes" class = "dropNodes">
        <td id="faveNodesLabel">Favorite Nodes (Shortcuts):</td>
        <td id="faveNode0" draggable="true"
          ondragover="event.preventDefault()" ondragstart="app.widget('drag', this, event)"
          ondrop="app.dropLink(this, event); app.widget('saveFavorite', this)"></td>
      </tr>
    </tbody>
  </table>
  <hr style="clear:right">
</div>
